@media (max-width:1006px){
    .logo{
        display: none;
    }
}
@media (max-width:801px){
    .footer_p{
        font-size: 14px;
    }
    .input{
        padding: 10px;
    }
    .footer_txt{
        font-size: 10px;
    }
    .footer_copy{
        font-size: 12px;
    }
    .accordion_menu{
        flex-direction: column;
    }
}
@media (max-width:630px){
    .accordion_menu{
        flex-direction: row;
        margin-bottom: 32px;
        
    }
    .accordion{
        margin: 0 auto;
    }
}

@media (max-width:400px) {
    .list{
        padding: 0 12px;
        font-size: 14px;
    }   
    .submenuItems a{
        padding: 4px;
        font-size: 12px;
    }
    .footer_p{
        font-size: 14px;
    }
    .input{
        padding: 10px;
    }
    .footer_txt{
        font-size: 10px;
    }
    .footer_copy{
        font-size: 12px;
    }
    .footer_left img{
        margin-bottom: 16px;
    }
}
@media (max-width:490px) {
    .list{
        padding: 0 10px;
        font-size: 12px;
    }   
    .submenuItems a{
        padding: 4px;
        font-size: 10px;
    }
    .footer_p{
        font-size: 12px;
    }
    .input{
        padding: 8px;
    }
    .footer_txt{
        font-size: 8px;
    }
    .footer_copy{
        font-size: 10px;
    }
}

@media only screen and (min-width: 64rem) {
    .menu {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        margin-left: auto;
        background: none;
        box-shadow: none;
    }
    .menu-inner {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }
    .menu-link {
        text-transform: capitalize;
    }
    .menu-block {
        margin-left: 2rem;
    }
    .burger {
        display: none;
        visibility: hidden;
    }
}
@media (max-width: 991px) {
    .intro .bg::before {
        display: none;
    }
    .intro section {
        padding: 20px;
        padding-bottom: 120px;
    }
    .intro .content {
        margin-top: 100px;
        flex-direction: column;
    }
    .intro .content .textBox {
        max-width: 100%;
    }
    .intro .content .imgBox {
        max-width: 100%;
        justify-content: center;
    }
    .intro .content .imgBox img {
        max-width: 300px;
    }
    .intro .thumb li {
        margin: 0 3px;
        height: 55px;
    }
    .intro .thumb li img {
         max-width: 40px;
    }
    .intro .thumb li::before {
        position: absolute;
        top: -150px;
        left: 0;
        font-size: 6em;
    }
}