@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
	height: 100%;
  width: 100%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	color: #65665C;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	line-height: 120%;
}

.container {
	max-width: 1320px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 20px;
}

.dn {
	display: none;
}

section {
	padding: 0 0 128px 0;
}

.sec_tit {
  color: #2C2F24;
  text-align: center;
  font-family: "Roboto";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; 
  margin-bottom: 20px;
}

.sec_p{
  margin: 0 auto;
  color: #65665C;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; 
}
h2{
  font-size: 3.5vw;
  max-font-size: 48px; 
  min-font-size: 30px; 
  transition: font-size 0.5s ease-in-out; 
}
p{font-size: 1.125vw; 
  max-font-size: 18px; 
  min-font-size: 17px; 
  transition: font-size 0.5s ease-in-out;
}

.color {
	color: #BE963F;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #BE963F;
}
.link_btn{
  padding: 12px 24px;
  color: #2A2C1F;
  text-align: center;
  font-size: 16px;
}
.link_btn{
  transition: 0.3s;
  padding: 8px;
  border-radius: 6px;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
.btns{
    gap: 16px;
    align-items: center;
}
  @property --rw {
    syntax: "<length-percentage>";
    initial-value: 0px;
    inherits: false;
  }
  
  
  html {
    height: 100%;
  }
  
  .btn {
    max-width: 175px;
    padding: 9px 25px ;
    place-self: center;
    border: solid 2px #0001;
    border-radius: 2em;
    box-shadow: inset 1px 3px 1px #fff4;
    background: radial-gradient(circle at var(--x, 0%) var(--y, 0%), black calc(var(--rw) - 1px), #CF6F49 var(--rw)) border-box;
    color: #FFF;
    /* font-size: 2vw; */
    max-font-size:20px;
    /* min-font-size:16px; */
    font-weight: 400;
    line-height: 120%; 
    transition: --rw 0.35s;
    overflow: hidden;
  }
  .btn:hover {
    --rw: 100% ;
  }
.btn__white{
    max-width: 220px;
    min-width: 100px;
    border: 1px solid #E7E8E3;
    background: #FFF;
    color: #2A2C1F;
    padding: 13px 25px;
    place-self: center;
    border: solid 2px #0001;
    border-radius: 2em;
    box-shadow: inset 1px 3px 1px #fff4;
    background: radial-gradient(circle at var(--x, 0%) var(--y, 0%), black calc(var(--rw) - 1px), #ffffff var(--rw)) border-box;
    transition: --rw 0.35s;
    overflow: hidden;
}
.btn__white:hover{
  color: #fff;
  --rw:100%
}
.span{
    text-align: center;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 120%; 
    background: #E7E8E3;
    border-radius: 32px;
    width: fit-content;
    margin-bottom: 20px;
}



@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
:root {
  --color-black: hsl(0, 0%, 10%);
  --color-darks: hsl(0, 0%, 25%);
  --color-greys: hsl(0, 0%, 60%);
  --color-light: hsl(0, 0%, 95%);
  --color-white: hsl(0, 0%, 100%);
  --color-blue-100: hsl(217, 91%, 65%);
  --color-blue-200: hsl(221, 83%, 55%);
  --color-blue-300: hsl(224, 76%, 45%);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
     0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
     0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
     0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
   box-sizing: inherit;
   scroll-behavior: smooth;
   height: -webkit-fill-available;
}

header {
  overflow: auto;
   color: var(--color-black);
   background-color: var(--color-white);
}

main {
  overflow: hidden;
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-transform: unset;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.section {
  margin: 0 auto;
}

header .container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}
.logo img{
  max-width: 105px;
  }
.shop:hover {
	background: #383737;
	border-color: #383737;
	color: #FFF;
  transition: all 1s ease-in-out;
  border-radius: 40% 20% / 50% 20%;
}
.shop{
  display: flex;
flex-wrap: nowrap;
padding: 9px 21px;
border-radius: 6px;
border: 1px solid #E7E8E3;
background: #FFF;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: var(--shadow-medium);
}

header .navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
}

header .menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100%;
  z-index: 10;
  background-color: var(--color-white);
  box-shadow: var(--shadow-medium);
  transition: all 0.5s ease-in-out;
}
header .menu.is-active {
  top: 0;
  left: 0;
}
header .menu-inner {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  margin: 1.25rem;
}
header .menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  color: var(--color-black);
  transition: all 0.3s ease;
}
header .menu-link:hover {
  color: #dbae90;
}
@media only screen and (min-width: 60rem) {
  header .menu {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    margin-left: auto;
    background: none;
    box-shadow: none;
  }
  header .menu-inner {
    display: flex;
    flex-direction: row;
    column-gap: 1.75rem;
    margin: 0 auto;
    margin-right: 5rem;
  }
  header .menu-link {
    text-transform: capitalize;
  }
  header .menu-block {
    margin-left: 2rem;
  }
}

header .burger {
  position: relative;
  display: block;
  cursor: pointer;
  order: -1;
  width: 1.6rem;
  height: auto;
  border: none;
  outline: none;
  visibility: visible;
}
header .burger-line {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 2px;
  margin: 6px auto;
  transform: rotate(0deg);
  border-radius: 1rem;
  background: var(--color-black);
}
@media only screen and (min-width: 60rem) {
  header .burger {
    display: none;
    visibility: hidden;
  }
}

header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}
header .overlay.is-active {
  display: block;
  opacity: 1;
  visibility: visible;
}

header .search-toggle, .search-cancel {
  display: block;
  cursor: pointer;
  font-size: 1.45rem;
  line-height: inherit;
  color: var(--color-black);
}
header .search-block {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  background-color: var(--color-white);
  transition: all 0.35s ease-in-out;
}
header .search-block.is-active {
  top: 0;
  right: 0;
}
header .search-form {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  padding: 0.75rem 1rem;
}
header .search-input {
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  height: auto;
  padding: 0.65rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: var(--color-black);
  background-color: var(--color-light);
}
header .search-input::-webkit-search-decoration, .search-input::-webkit-search-cancel-button {
  display: none;
  visibility: hidden;
}
header .btns{
  flex-wrap: nowrap;
}





.media .container {
  --d: 8s;
  display: grid;
  grid-template-columns: repeat(3, 170px);
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, #0000, #000 5% 95%, #0000);
}

.media .container > div {
  grid-area: 1/1;
  display: grid;
  grid-template-columns: 120px 1fr;
  align-content: center;
  gap: 10px;
  background: transparent padding-box;
  border-inline: 10px solid #0000;
  animation: r var(--d) linear infinite;
}

.media .container > div svg {
  width: 100%;
  grid-row: span 2;
}

.media .container > div * {
  margin: 0;
}

.media .container > div svg {
  margin-top: auto;
}

.media .container > div:nth-child(2) {
  animation-delay: calc(-0.1666666667*var(--d));
}

.media .container > div:nth-child(3) {
  animation-delay: calc(-0.3333333333*var(--d));
}

.media .container > div:nth-child(4) {
  animation-delay: calc(-0.5*var(--d));
}

.media .container > div:nth-child(5) {
  animation-delay: calc(-0.6666666667*var(--d));
}

.media .container > div:nth-child(6) {
  animation-delay: calc(-0.8333333333*var(--d));
}

@keyframes r {
  16.6666666667% {
    transform: translate(-100%);
  }
  16.6766666667% {
    transform: translate(500%);
  }
}
.media .sec_p{
margin: 0 auto;
color: #2A2C1F;
margin-bottom: 40px;
}
.media{
  padding-top: 30px;
}






.works .sec_p{
  margin-bottom: 64px;
  }
  .works_cards{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .works_card{
    position: relative;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid #E7E8E3;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 16px;
    margin: 0 -45px;
    transform: rotate(calc(var(--r) * 1deg));
    padding: 48px 34px;
  }
  .works_cards:hover .works_card{
    transform: rotate(0deg);
    margin: 0 20px;
  }
  .works_card::before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .works_card i{
    width: 48px;
    height: 48px;
    display: block;
    border-radius: 8px;
    background: #FAE8E1;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card .works_tit{
    color: #2A2C1F;
    text-align: center;
    font-size: 24px;
    margin-bottom: 18px;
  }
  .works_p {
    text-align: center;
    font-size: 16px;
    line-height: 24px; 
    width: 320px;
  }
  .works_ic span {
    color: #CF6F49;
  }






 .area {
  background-color: #F5F5F2;
  }
  .area .btns{
  justify-content: center;
  margin-top: 80px;
  }
  .area .span{
  margin: 0 auto;
  margin-bottom: 20px;
  transition: 0.3s; 
  
  }
  .area_img_right{
      margin-bottom: 18px;
      display: flex;
      flex-direction: row-reverse;
  }
     .area_img_left{
       margin-top: 25px;
       justify-content: start;
    display: flex;
  }
  .area .sec_tit{
  margin-bottom: 80px;
  }
  .price{
     color: #2A2C1F;
     font-size: 18px;
     font-weight: 700;
     line-height: 27px;
  }
  .numbers{
      justify-content: center;
      gap: 24px;
      
  }
  .number{
    color: #bdbbbb;
  }
  .area {
       color: #2A2C1F;
       display: flex;
       align-items: center;
       justify-content: space-around;
       padding: 0;
  }
     
  .area_cards{
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       gap: 30px;
       flex-wrap: wrap;
  }
     
  .area_card {
       position: relative;
       width: 350px;
       background: radial-gradient(#111 50%, #000 100%);
       overflow: hidden;
       cursor: pointer;
       border-radius: 12px;
       color: #E7E8E3;
  }
     
  img {
       max-width: 100%;
       display: block;
  }
     
  .area_card img {
      transform: scale(1.3);
      transition: 0.3s ease-out;
  }
     
  .area_card:hover img {
       transform: scale(1.1) translateY(-20px);
       opacity: 0.3;
  }
 .area .overlay {
       position: absolute;
       left: 0;
       bottom: 0;
       width: 100%;
       height: 100%;
       text-align: center;
  }
  .area_card_tit{
       transform: translateY(30px);
       opacity: 0;
       transition: all .3s ease-out;
       padding: 24px;
       font-size: 24px;
       line-height: 33.6px; 
       font-weight: 700;
  }
  .text-h4{
       transform: translateY(30px);
       opacity: 0;
       transition: all .3s ease-out 0.2s;
  }
  .text-h5{
      transform: translateY(30px);
      opacity: 0;
      transition: all .3s ease-out 0.2s;
      color: #bdbbbb;
  }
  .numbers{
      transform: translateY(30px);
      opacity: 0;
      transition: all .3s ease-out 0.2s;
      color: #65665C;
  }
  .area_card:hover .overlay .area_card_tit {
       opacity: 1;
       transform: translateY(0);
  }
  .area_card:hover .overlay .text-h4{
       opacity: 1;
       transform: translateY(0);
  }
  .area_card:hover .overlay .text-h5{
      opacity: 1;
      transform: translateY(0);
  }
  .area_card:hover .overlay .numbers{
      opacity: 1;
      transform: translateY(0);
  }






.clients .sec_tit{
  margin-top: 100px;
  margin-bottom: 26px;
  }
  .clients .sec_p{
  margin-bottom: 80px;
  }
  .clients_card{
    padding: 32px;
    transition: 0.3s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  .clients_card:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
  }
  .clients_card{
  border-radius: 16px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  }
  .clients_cards{
    justify-content: center;
    gap: 16px;
  }
  .clients_ic img{
  width: 20px;
  margin-bottom: 26px;
  }
  .clients_p{
  font-size: 18px;
  font-weight: 400;
  line-height: 27px; 
  width: 314px;
  margin-bottom: 30px;
  }
  .clients_img{
  width: 48px;
  margin-right: 16px;
  }
  .name{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; 
  }
  .job{
  color: #65665C;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; 
  }






  .posts_card_top{
      transform: translateY(30px);
      opacity: 0;
      transition: all .3s ease-out 0.2s;
      margin-top: 10px;
      justify-content: center;
  }
  .area_card:hover .overlay .posts_card_top{
      opacity: 1;
      transform: translateY(0);
  }
  .posts .area_card_tit{
      margin-bottom: 10px;
      padding: 0 35px;
  }
  .posts .overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
  .posts_cards{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 30px;
      flex-wrap: wrap;
  }
  .posts .sec_tit{
      margin-bottom: 30px;
      text-align: left;
      }
      .posts .sec_p{
        margin: 0;
        max-width: 710px;
        text-align: left;
        margin-bottom: 20px;
      }
      .posts_top{
      margin-bottom: 80px;
      justify-content: space-between;
      }
      .posts .btn__white{
        padding: 13px 25px;
        text-align: center;
      }
      .posts .span{
        margin-bottom: 25px;
        color: #000;
      }
      .posts_card_top .span{
        background-color:#FAE8E1;
        margin-right: 16px;
      }
      .posts_p{
      width: 340px;
      color: #65665C;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-top: 7px;
      margin-bottom: 22px;
      }
      .posts .link_btn{
      color: #2A2C1F;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px; 
      padding: 0;
      }
      .posts .area_info{
        width: 374px;
      }
      .posts .link_btn{
          justify-content: center;
          display: flex;
          margin-top: 40px;
      }
  





  .footer_big{
    justify-content: space-evenly;
  }
  .footer_list a{
  color: #2A2C1F;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px; 
  width: 38px;
  }
  .footer_tit{
  margin-bottom: 10px;
  color: #2A2C1F;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 77px;
  }
  .footer_p{
  margin-bottom: 12px;
  color: #65665C;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 379px;
  }
  .footer_txt{
  color: #65665C;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  width: 206px;
  margin-top: 12px;
  }
  .footer_copy{
    justify-content: space-between;
    padding: 25px 60px;
  }
  .input{
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 12px;
  color: #65665C;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; 
  }
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

.accordion_menu {
    max-width: 350px;
    overflow: hidden;
}

.accordion_menu li:last-child .list {
    border-bottom: 0;
}
.accordion_menu li.active .list {
    color: #2A2C1F;
}
.accordion_menu li.active .list  .fa-chevron-down {
    transform: rotate(180deg);
}
footer .list {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 45px;
    font-size: 18px;
    border-bottom: 2px solid #da8b57;
    color: #2A2C1F;
    position: relative;
    transition: all 0.4s ease-out;
}

.list:hover{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d49b65), to(#dbae90));
	border-radius: 20% 50%;
}

.list .fa-chevron-down {
    transition: transform 0.2s ease-in-out;
}

.submenuItems {
    display: none;
    transition: all 2s ease-in-out;
}

.accordion_menu li.active .submenuItems{
    display: block;
}

.submenuItems a {
    display: block;
    color: #25271dc7;
    font-weight: 600;
    padding: 4px;
    transition: all 0.2s ease-out;
    text-decoration: none;
}

.submenuItems a:hover {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d49b65), to(#dbae90));
	border-radius: 20% 50%;
    color: #fff;
}
.link{
	margin-right: 6px;
}
.accordion_menu{
    justify-content: space-evenly;
}
.input_box{
    margin-right: 16px;
}






 .dark-gray-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #65665c;
  width: 100%;
  border-radius: 24px;
  color: white;
  text-align: center;
  margin-bottom: 230px;
  padding: 0;
}
.dark-icon {
  margin-top: 100px;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
}
.dark-gray-section .sec_tit{
  color: #FFF;
  margin-bottom: 30px;
  margin-top: 12px;
}
.dark-gray-section .sec_p{
  color: #E7E8E3;
  max-width: 765px;
  width: 55%;
}
.dark-gray-section .btn{
display: block;
margin: 20px auto;
text-align: center; 
margin-bottom: 96px;
}
  





.location_card{
  border-radius: 16px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  width: 416px;
  padding: 33px;
  margin-bottom: 16px;
  }
  .location_card:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  .location{
    background-color: #f5f5f7;
  }
  .location .btns{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 128px;

  }
  .location_card{
  border-radius: 16px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  width: 416px;
  padding: 33px;
  margin: 0 auto;
  margin-bottom: 16px;
  }
  .location_card:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  .location_tit{
  color: #2A2C1F;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px; 
  }
  .location_card .link_btn{
  padding: 0;
  }
  .location .sec_p{
    margin-bottom: 80px;
  }
  .location .btns{
    margin-top: 80px;
    justify-content: center;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .location_cards{
    flex: 33.3% 1 1
  }
.location .container {
  --d: 15s;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, #0000, #000 5% 95%, #0000);
}

.location .container > div {
  grid-area: 1/1;
  grid-template-columns: 120px 1fr;
  align-content: center;
  gap: 10px;
  background: #fff padding-box;
  border-inline: 10px solid #f3f2f200;
  animation: r var(--d) linear infinite;
}

.location .container > div img {
  width: 100%;
  grid-row: span 2;
}

.location .container > div * {
  margin: 0;
}

.location .container > div .location_tit {
  margin-top: auto;
}

.location .container > div:nth-child(2) {
  animation-delay: calc(-0.1666666667*var(--d));
}

.location .container > div:nth-child(3) {
  animation-delay: calc(-0.3333333333*var(--d));
}

.location .container > div:nth-child(4) {
  animation-delay: calc(-0.5*var(--d));
}

.location .container > div:nth-child(5) {
  animation-delay: calc(-0.6666666667*var(--d));
}

.location .container > div:nth-child(6) {
  animation-delay: calc(-0.8333333333*var(--d));
}

@keyframes r {
  16.6666666667% {
    transform: translate(-100%);
  }
  16.6766666667% {
    transform: translate(500%);
  }
}





  .fab-wrapper {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    }
  .fab-checkbox {
    display: none;
  }
  .fab {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    width: 4rem;
    height: 4rem;
    background: #CF6F49;
    border-radius: 50%;
    background: #d6815f;
    box-shadow: 0px 5px 20px #db967b;
    transition: all 0.3s ease;
    z-index: 1;
    border-bottom-right-radius: 6px;
    border: 1px solid #CF6F49;
  }
  .fab-checkbox:checked ~ .fab:before {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .fab:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    background: #E7E8E3;
    box-shadow: 0px 5px 20px 5px #db967b;
  }
    
  .fab-dots {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateX(0%) translateY(-50%) rotate(0deg);
    opacity: 1;
    animation: blink 3s ease infinite;
    transition: all 0.3s ease;
  }
    
  .fab-dots-1 {
    left: 15px;
    animation-delay: 0s;
  }
  .fab-dots-2 {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-delay: 0.4s;
  }
  .fab-dots-3 {
    right: 15px;
    animation-delay: 0.8s;
  }
    
  .fab-checkbox:checked ~ .fab .fab-dots {
    height: 6px;
  }
    
  .fab .fab-dots-2 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
    
  .fab-checkbox:checked ~ .fab .fab-dots-1 {
    width: 32px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .fab-checkbox:checked ~ .fab .fab-dots-3 {
    width: 32px;
    border-radius: 10px;
    right: 50%;
    transform: translateX(50%) translateY(-50%) rotate(-45deg);
  }
    
  @keyframes blink {
    50% {
    opacity: 0.25;
    }
  }
    
  .fab-checkbox:checked ~ .fab .fab-dots {
    animation: none;
  }
    
  .fab-wheel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    transition: all 0.3s ease;
    transform-origin: bottom right;
    transform: scale(0);
  }
  .fab-checkbox:checked ~ .fab-wheel {
    transform: scale(1);
  }
  .fab-action {
    position: absolute;
    background: #d6815f;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: White;
    box-shadow: 0 0.1rem 1rem #db967b;
    transition: all 1s ease;
    opacity: 0;
  }
    
  .fab-checkbox:checked ~ .fab-wheel .fab-action {
    opacity: 1;
  }
    
  .fab-action:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    background-color: #f16100;
  }
    
  .fab-wheel .fab-action-1 {
  right: -1rem;
    top: 0;
  }
    
  .fab-wheel .fab-action-2 {
    right: 3.4rem;
    top: 0.5rem;
  }
  .fab-wheel .fab-action-3 {
  left: 0.5rem;
  bottom: 3.4rem;
  }
  .fab-wheel .fab-action-4 {
  left: 0;
  bottom: -1rem;
  }
  .intro{
    padding: 0;
  }
  .intro_form{
    display: flex;
    gap: 16px;
  }
  .intro_label{
    border-radius: 6px;
    border: 1px solid #E7E8E3;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    padding: 9px 19px;
    gap: 19px;
  }
  .intro_label input{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; 
    border: none;
    outline: none;
  }
  .intro_label input::placeholder{
    color: #65665C;
  }
  .intro_tit{
    max-width: 516px;
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .intro_p{
    max-width: 503px;
    color: #65665C;
    /* font-size: 1.3vw; */
    font-size: 18px;
    line-height: 150%;
    margin: 21px 0;
  }
  .span{
    text-align: center;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 21px; 
    background: #E7E8E3;
    border-radius: 32px;
    width: fit-content;
    margin-bottom: 20px;
  }
  .intro .btn{
    text-align: center;
  }
.houses .sec_p{
  margin-bottom: 20px;
}
.houses .sec_p,
 .fast .sec_p,
.houses .sec_tit,
.fast .sec_tit{
  text-align: left;
}
.fast_tit{
  color: #2A2C1F;
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 18px;
}
.fast_p{
width: 245px;
font-size: 16px;
line-height: 24px; 
margin-bottom: 30px;
}
.fast_ic {
width: 48px;
height: 48px;
display: block;
border-radius: 8px;
background: #FAE8E1;
color: #CF6F49;
margin-top: 38px;
display: flex;
justify-content: center;
align-items: center;
}
.fast_cards{
  justify-content: space-between;
  flex-wrap: nowrap;
}




  
  .intro {
    display: flex;
    flex-wrap: wrap;
  }
  .col-6 {
    flex: 50% 1 1;
  }
  


  
  
  
  
  

  
  
  header {
    background-color: #f5f5f2;
  }
  header .section1 {
    position: relative;
  }
  .bottom-right {
    position: absolute;
    bottom: 0;
    left: -20%;
  }
  .corner {
    width: 20%;
  }
  
  header .section-text {
    width: 60%;
    margin-left: 13%; 
  }
  .section-text-bigger {
    margin-top: 10%;
    margin-left: 10%;
  }
  
  .bottom-right-adaptable {
    position: absolute;
    right: 0;
    display: none;
  }
  @media (max-width: 915px) {
    header .col-6:first-child {
      padding-bottom: 10%;
      flex: 1 1 100%;
    }
  
    .bottom-right-adaptable {
      display: block;
    }
  
    .col-4 {
      flex: 1 1 50%;
    }
  }
  
  @media (max-width: 820px) {
    .float-pictures .col-6 {
      flex: 1 1 100%;
    }
    .float-pictures .picture {
      margin-top: 30px;
    }
    .col-6 .row .col-6 {
      flex: 0 0 45%;
      margin-right: 10px;
    }
  }

* {
	margin: 0;
}
:root {
	--hue: 223;
	--bg:#f5f5f7;
	--fg:  #db967b;
	--trans-dur: 0.3s;
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (2560 - 320));
}
@keyframes stroke {
  0% { stroke: #e8b7a4; }
  20% { stroke: #db967b; }
  40% { stroke: #d6815f; }
  60% { stroke: #CF6F49; }
  80% { stroke: #d6815f; }
  100% { stroke: #db967b; }
}
.preloader {
	background-color: var(--bg);
	color: var(--fg);
	display: flex;
	font: 1em/1.5 sans-serif;
	height: 100vh;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
}
.pl {
	display: block;
	margin: auto;
	width: 16em;
	height: auto;
}
.pl line {
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.pl__line1,
.pl__line9 {
	animation-name: line1;
}
.pl__line2,
.pl__line8 {
	animation-name: line2;
}
.pl__line3,
.pl__line7 {
	animation-name: line3;
}
.pl__line4,
.pl__line6 {
	animation-name: line4;
}
.pl__line5 {
	animation-name: line5;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,10%);
		--fg: hsl(var(--hue),90%,90%);
	}
}

/* Animations */
@keyframes line1 {
	from,
	8% {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	18% {
		stroke-dashoffset: 16;
		transform: translate(0,8px);
	}
	28% {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	38% {
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	48% {
		opacity: 1;
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	53% {
		opacity: 0;
		stroke-dashoffset: 31.99;
		transform: translate(8px,16px);
	}
	56% {
		animation-timing-function: steps(1,start);
		opacity: 0;
		stroke-dashoffset: 32;
		transform: translate(0,16px);
	}
	60% {
		animation-timing-function: ease-out;
		opacity: 1;
		stroke-dashoffset: 32;
		transform: translate(0,16px);
	}
	70% {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	80% {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	90% {
		stroke-dashoffset: 16;
		transform: translate(0,8px);
	}
	to {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
}
@keyframes line2 {
	from,
	6% {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	16% {
		stroke-dashoffset: 16;
		transform: translate(0,8px);
	}
	26% {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	36% {
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	46% {
		opacity: 1;
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	51% {
		opacity: 0;
		stroke-dashoffset: 31.99;
		transform: translate(8px,16px);
	}
	54% {
		animation-timing-function: steps(1,start);
		opacity: 0;
		stroke-dashoffset: 32;
		transform: translate(0,16px);
	}
	58% {
		animation-timing-function: ease-out;
		opacity: 1;
		stroke-dashoffset: 32;
		transform: translate(0,16px);
	}
	68% {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	78% {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	88% {
		stroke-dashoffset: 16;
		transform: translate(0,8px);
	}
	98%,
	to {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
}
@keyframes line3 {
	from,
	4% {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	14% {
		stroke-dashoffset: 16;
		transform: translate(0,8px);
	}
	24% {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	34% {
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	44% {
		opacity: 1;
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	49% {
		opacity: 0;
		stroke-dashoffset: 31.99;
		transform: translate(8px,16px);
	}
	52% {
		animation-timing-function: steps(1,start);
		opacity: 0;
		stroke-dashoffset: 32;
		transform: translate(0,16px);
	}
	56% {
		animation-timing-function: ease-out;
		opacity: 1;
		stroke-dashoffset: 32;
		transform: translate(0,16px);
	}
	66% {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	76% {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	86% {
		stroke-dashoffset: 16;
		transform: translate(0,8px);
	}
	96%,
	to {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
}
@keyframes line4 {
	from,
	2% {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	12% {
		stroke-dashoffset: 16;
		transform: translate(0,8px);
	}
	22% {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	32% {
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	42% {
		opacity: 1;
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	47% {
		opacity: 0;
		stroke-dashoffset: 31.99;
		transform: translate(8px,16px);
	}
	50% {
		animation-timing-function: steps(1,start);
		opacity: 0;
		stroke-dashoffset: 32;
		transform: translate(0,16px);
	}
	54% {
		animation-timing-function: ease-out;
		opacity: 1;
		stroke-dashoffset: 32;
		transform: translate(0,16px);
	}
	64% {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	74% {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	84% {
		stroke-dashoffset: 16;
		transform: translate(0,8px);
	}
	94%,
	to {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
}
@keyframes line5 {
	from {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	10% {
		stroke-dashoffset: 16;
		transform: translate(0,8px);
	}
	20% {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	30% {
		stroke-dashoffset: 0;
		transform: translate(0,0);
	}
	40% {
		stroke-dashoffset: -16;
		transform: translate(0,15px);
	}
	50% {
		stroke-dashoffset: -31;
		transform: translate(0,-48px);
	}
	58% {
		stroke-dashoffset: -31;
		transform: translate(0,8px);
	}
	65% {
		stroke-dashoffset: -31.99;
		transform: translate(0,-24px);
	}
	71.99% {
		animation-timing-function: steps(1);
		stroke-dashoffset: -31.99;
		transform: translate(0,-16px);
	}
	72% {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
	82% {
		stroke-dashoffset: 16;
		transform: translate(0,8px);
	}
	92%,
	to {
		stroke-dashoffset: 31.99;
		transform: translate(0,16px);
	}
}
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999; 
}

.content {
  display: none;  
}
.hide-preloader {
  opacity: 0;
  transition: opacity 10s;  
}

